@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, :root, ::after, ::before {
    --primary-color: #000822;
    --secondary-color: #FFFFFF;
    --thirth-color: #f72585;
    --text-color: #0b0f1d;
    --font-family: 'League Spartan', 'Monserrat';
    --secondary-font-family: 'Montserrat', sans-serif;
    --font-size: 16px;
    --border-radius: 30px;
    box-sizing: border-box;
    margin: 0;
}

/* Evitar selección de imágenes y elementos */
img, svg {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: auto;
}

.height-section, header{
    height: 100vh;
}

header{
    background-color: var(--primary-color);
    padding-left: 80px;
    padding-top: 80px;

    color: var(--secondary-color);
    font-family: var(--secondary-font-family);
    
    overflow: hidden;
    position: relative;
    z-index: 0;
    & h1{
        font-family: var(--font-family);
        font-size: 7em;
        max-width: 1000px;
        margin-top: 50px;
    }

    & button{
        margin-top: 50px;
        margin-right: 30px;
        
    }

    & p{
        font-size: 2em;
        max-width: 900px;
        margin-top: 50px;
    }

}

.design-button{
    border-style: none;
    font-family: var(--font-family);
    font-size: 1.5em;
    font-weight: bolder;
    color: var(--text-color);

    padding: 20px 35px;
    background-color: var(--secondary-color);
    cursor: pointer;
    border-radius: var(--border-radius);
    z-index: 1;
}

.design-button:hover{
    background-color: var(--thirth-color);
    color: var(--secondary-color);
}

.logo-verum-svg{
    width: 800px;
    position: absolute;
    right: -200px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.first-section-index + section{
    background-color: var(--secondary-color);
}

.first-section-index{
    padding: 80px;
    padding-left: 250px;
    display: grid;
    grid-template-areas: "title image"
                                "text image"
                                "text image";
    background-color: var(--secondary-color);
    overflow: hidden;
    align-content: center;
    align-items: center;

    & h2{
        font-family: var(--font-family);
        font-size: 4em;
        color: var(--thirth-color);
        line-height: 1.1;
        grid-area: title;
        max-width: 550px;
    }

    & p{
        font-family: var(--secondary-font-family);
        font-size: 1.3em;
        color: var(--text-color);
        line-height: 1.6;
        grid-area: text;
        max-width: 550px;
    }

    
    & img{
        grid-area: image;
    }
    

    & .section-estructura-loza{
        object-fit: cover;
        border-radius: var(--border-radius);
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
        padding-left: 20px;
    }
}

/*Segunda etiqueta seccion*/
/* Se utilizaron los selectores y pseudo-clases para aplicar estilos a los elementos dentro de la sección */
section:nth-child(3){
    padding: 7em;

    overflow: hidden;

    & h2{ 
        font-family: var(--font-family);
        font-size: 4em;
        color: var(--thirth-color);
        line-height: 1.1;
        grid-area: title;
        max-width: 550px;
    }

    & a:first-of-type{
        display: flex;
        text-decoration: none;
        transition: scale 0.5s ease-in-out;
        transform-origin: center;

        &:hover{
            scale: 1.1;            
        }

        &:active{
            color: var(--text-color);
        }
        & img{
            scale: 1.5;
            transform: translate(20%, 5%);
            object-fit: cover;
            border-radius: var(--border-radius);
        }
        & h2{
            z-index: 1;
            transform: translate(150px, 0);
        }
    }

    & a:last-of-type{
        text-decoration: none;
        height: 100%;
        display: flex; 
        transition: scale 0.5s ease-in-out;
        transform-origin: center;
        transform: translate(100px, 0);

        &:hover{
            scale: 1.1;            
        }

        &:active{
            color: var(--text-color);
        }
        & img{
            position: absolute;
            scale: 1.5;
            transform: translate(60%, -35%);
            filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.35));
        }

        & h2{
            z-index: 1;
            transform: translate(900px, 150px);
      }
    }
}

/*Tercera seccion del Index*/

section:nth-child(4) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.future_solutions{
    display: grid;
    row-gap: 80px;
    grid-template-areas: 
    "titulo texto"
    "imagen imagen";
    justify-items: center;


    & h2{
        grid-area: titulo;
        justify-items: center;
        justify-self: center; 
        align-self: center; 
        position: relative;

        font-family: var(--font-family);
        color: var(--secondary-color);
        font-size: 6em;
        max-width: 500px;
        z-index: 40;
    }

    & h2::before{
        content: "";
        position: absolute;
        width: 120%;
        height: 120%;

        transform: translate(-90px, -20px);
        background-color: var(--thirth-color);
        z-index: -10 ;
        border-radius: var(--border-radius);

     
        
    }

    & h4{
        grid-area: texto;
        font-family: var(--font-family);
        color: var(--secondary-color);
        font-size: 3em;
        max-width: 600px;
        z-index: 4;
        justify-self: center;
        text-align: center;
    }

    & picture{
        grid-area: imagen;
        display: flex;
        z-index: 1;
        max-width: 90vw;
        justify-content: center;
        align-self: center;  
        
        & img:first-of-type{
            transform: translate(0%, 15%);
            width: 55em;
            height: auto;
        }

        & img:last-of-type{
            transform: translate(-15%, -25%);
            width: 45em;
            height: auto;
            filter: drop-shadow( 20px 20px 6px rgba(0, 0, 0, 0.8));
        }
    }

    & picture::before{
        content: "";
        position: absolute;
        align-items: flex-start;
        width: 60rem;
        height: 32rem;
        right: 0;
        transform: translate(-10em, -8em);
        background-color: var(--thirth-color);
        z-index: -1 ;
        border-radius: var(--border-radius);

        

    }
}

/* Cuarta seccion del Index */
section:nth-child(5) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;  
    overflow: hidden;          
    padding: 0;
    position: relative;
    z-index: 1;
}

section:nth-child(5) .our_product {
    max-width: 600px;
    min-width: 350px;
}

section:nth-child(5) .our_product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    padding: 80px;

    & h2{
        font-family: var(--font-family);
        font-size: 4em;
        color: var(--thirth-color);
        line-height: 1.1;
        max-width: 550px;
        text-align: start;
    }

    & p{
        font-family: var(--secondary-font-family);
        font-size: 1.3em;
        color: var(--text-color);
        line-height: 1.6;
        max-width: 800px;
        text-align: start;
    }
}

section:nth-child(5) .phrases_description{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    height: 80vh;

    & p{
        font-family: var(--font-family);
        font-size: 1.1em;
        color: var(--text-color);
        max-width: 200px;
        text-align: center;

        & strong{
            color: var(--thirth-color);
        }
    }

}

section:nth-child(5) img {
    max-width: 800px;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: left;
    align-self: center;
    box-shadow:10px 20px 10px rgba(0,0,0,0.3);
    position: relative;
    z-index: 2;
}

section:nth-child(6){
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0;
    padding-top: 20px;
    height: 110vh; 

    & .visor svg{
        position: absolute;
        border-radius: var(--border-radius);
        cursor: pointer;
        height: 90px;
        width: 90px;
    }
    
    & .visor svg:first-of-type{
        top: 50%;
        left: 19%;
    }

    & .visor svg:last-of-type{
        top: 50%;
        right: 19%;
    }
    & h2{
        color: var(--thirth-color);
        font-family: var(--font-family);
        font-size: 4em;
        margin: 50px;
        margin-left: 0;
        padding-left: 80px;

    }

    & div{
        width: 80vw;
        border-radius: var(--border-radius);
        position: relative;
        display: flex;
        justify-content: center;

        & img{
            width: 50vw;
            height: 60vh;
            object-fit: cover;
            border-radius: 28px;
        }
    }

    & div::before{
        content: "";
        position: absolute;
        width: 52vw;
        height: 62vh;
        background-color: var(--thirth-color);
        z-index: -1;
        justify-content: center;
        border-radius: var(--border-radius);
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    & figure{
        display: flex;
        margin-top: 30px;
        justify-content: space-between;
        gap: 20px;
                
    }

    & figure img{
        width: 200px;
        border-radius: var(--border-radius);
    }
}

footer{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 80px 80px;
    height: 45vh;
    display: flex;
    gap: 5px;
    align-items: start;
    justify-content: center;

    & h3{
        font-family: var(--font-family);
        font-size: 3em;
        margin-right: 40px;
        padding: 20px 30px;
        max-width: 400px;
        background-color: var(--thirth-color);
        border-radius: var(--border-radius);
    }

    & div{
        display: flex;
        gap: 20px;
        font-family: var(--secondary-font-family);
        font-size: 1.2em;
        flex-direction: column;
        max-width: 250px;
    }

    & div a{
        color: var(--secondary-color);
        text-decoration: none;
    }
}

@media screen and (max-width: 1750px) {
        section:nth-child(3){
        padding: 0;;
        & a:first-of-type{
            scale: 0.9;
        }

        & a:last-of-type{
            scale: 0.9;
        }
    }
}

@media screen and (max-width: 1600px) {

    section:nth-child(3){
        padding: 3em;
        & a:first-of-type{
            scale: 0.8;
        }

        & a:last-of-type{
            scale: 0.8;
        }
    }
    
    section:nth-child(4){
        & .future_solutions{
           justify-content: center;
        }

        & .future_solutions picture{
            & img:first-of-type{
                transform: translate(15%, 15%);
                scale: 0.8  ;
            }
            & img:last-of-type{
                transform: translate(-25%, -15%);
                scale: 0.8;
            }
        }

        & picture::before{
            transform: translate(-5em, -5em);
        }
    }
}


@media screen and (max-width: 425px){
    /*Cambios para dispositivos móviles -HEADER-*/
    header{
        height: auto;
        padding: 3em;
        padding-bottom: 0;
    }

    header h1{
        font-size: 3em;
    }

    header img{
        width: 80vw;
    }

    header button{
        margin: 10px 2px;
    }

    header p{
        font-size: 1.2em;
        max-width: 90vw;
        line-height: 2em;
    }

    header .logo-verum-svg{
        width: 400px;
        position: relative;
        right: -100px;
        top: 20px;
    }

    /* Cambios para dispositivos móviles -1° SECTION-*/
    .first-section-index{
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;

        & .section-estructura-loza{
            padding-left: 0;
        }
    }
    .first-section-index h2{
        font-size: 2em;
        text-align: center;
    }

    .first-section-index p{
        font-size: 1em;
        text-align: start;
        max-width: 90vw;
    }

    .first-section-index img{
        width: 90vw;
        height: 50vh;
    }

    /* Cambios para dispositivos móviles -2° SECTION-*/
    section:nth-child(3){
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    section:nth-child(3) a:first-of-type{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        & img{
            scale: 0.7;
            transform: translate(0%, 0%);
        }

        & h2{
            transform: translate(0, 0);
            font-size: 1.5em;
        }
    }

    section:nth-child(3) a:last-of-type{
        display: flex;
        flex-direction: column-reverse;
        transform: translate(0, 0);
        align-items: center;
        
        & img{
            scale: 0.65;
            transform: translate(0, 0);
        
        }

        & h2{
            transform: translate(0, 0);
            font-size: 1.5em;
        }
    }

    section:nth-child(3) a:hover{
            scale: 0.65 !important;
    }

    /* Cambios para dispositivos móviles -3° SECTION-*/
    section:nth-child(4) .future_solutions{
        grid-template-areas:
        "titulo titulo"
        "texto texto"
        "imagen imagen";
    }

    section:nth-child(4) .future_solutions h2{
        font-size: 2.5em;
        text-align: end;
    }

    section:nth-child(4) .future_solutions h4{
        font-size: 1em;
        text-align: end;
    }

    section:nth-child(4) .future_solutions picture{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90vw;
        height: auto;

        & img:first-of-type{
            width: 100%;
            height: auto;
            transform: translate(0%, 0%);
        }

        & img:last-of-type{
            width: 100%;
            height: auto;
            transform: translate(0%, -9vh);
        }
    }
    section:nth-child(4) .future_solutions picture::before{
        width: 90vw;
        height: 25vh;
        transform: translate(-5vw, -15vh);
    }
    section:nth-child(4) .future_solutions h2::before{
        width: 9em;
        height: 2em;
        transform: translate(-15px, -18px);
        top: 0
    }

    /* Cambios para dispositivos móviles -4° SECTION-*/
    section:nth-child(5){
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3em;

        & .our_product{
            padding: 2em;
            align-items: center;
            justify-content: center;
        }
    }

    section:nth-child(5) .our_product h2{
        font-size: 2.5em;
        text-align: start;
        padding-bottom: 20px;
    }

    section:nth-child(5) .our_product p{
        font-size: 1em;
        text-align: start;
        max-width: 95vw;
    }

    section:nth-child(5) .phrases_description{
        gap: 2em;
        display: flex;
        flex-direction: column;
        height: auto;
    } 

    section:nth-child(5) img{
        width: 90vw;
        height: auto;
        border-radius: var(--border-radius);
    }

    /* Cambios para dispositivos móviles -5° SECTION-*/
    section:nth-child(6){
        height: 100vh;
        padding: 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        & h2{
            font-size: 2.5em;

        }

        & div{
            width: 90vw;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;

            & img{
                width: 100%;
                height: auto;
            }
        }

        & figure{
            display: none;
        }
    }

    section:nth-child(6) div{
            width: 90vw;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;

            & img{
                width: 100%;
                height: 50vh;
                object-position: center;
                object-fit: cover;
            }
        }

    section:nth-child(6) div::before{
        width: 95vw;
        height: 55vh;
    }

    section:nth-child(6) .visor svg{
        transform: scale(0.5);
        z-index: 20;
    }

    section:nth-child(6) .visor svg:first-of-type{
        left: -5%;
    }

    section:nth-child(6) .visor svg:last-of-type{
        right: -5%;
    }

    /* Cambios para dispositivos móviles -FOOTER-*/
    footer{
        height: 60vh;
        flex-direction: column;
        padding: 10px 20px;
        text-align: center;
       align-items: center;

    }

    footer br{
        display: none;
    }

    footer h3{
        font-size: 1.5em;
        width: 80vw ;
        margin: 0;
        margin-bottom: 20px;
    }

    footer div{
        gap: 10px;
    }

    footer div:first-of-type{
        margin-bottom: 30px;
    }
}